html, body {
    height: 100%;
    margin: 0;
}

body {
    -webkit-app-region: drag; /* Para poder arrastrar */
}

div {
    background-color: #00ff00; /* Croma verde */
    min-height: 100%; /* Cogemos el espacio disponible */
    position: relative;
}

div img {
    margin: auto; /* Necesario */
    position: absolute; /* Necesario */
    bottom: 0; /* Lo ponemos en la parte de abajo */
    left: 0; right: 0; /* Lo alineamos horizontalmente */
}